.sectionFour .sectionFourCol {
    height: 430px;
    position: relative;
}

.sectionFour img{
    width: 23rem;
    height: 16rem;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}